<header>

 


<div class="navbar">
 <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="index.html"><img src="assets/paypal-logo.png" alt="PayPal Logo" width="200"></a> </div>
  <div class="collapse navbar-collapse" id="defaultNavbar1">
    <ul class="nav navbar-nav">
      <li class="hidden-lg">
        <div class="search-box clear">
          <form role="search" method="get" class="search-form" action="search.html">
            <label> <span class="screen-reader-text"></span>
            <input class="search-field" name="q" placeholder="Search..." value="" title="Search..." onfocus="if (this.value == this.defaultValue) this.value = ''" onblur="if (this.value == '') this.value = this.defaultValue" type="search">
            </label>
            <input class="search-submit" value="Search" type="submit">
          </form>
        </div>
      </li>
      <li><a href="index.html">Home</a></li>
      <li><a href="new-to-paypal.html">New to PayPal</a></li>
      <!--<li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Annual Enrollment</a>
        <ul class="dropdown-menu">
          <li><a href="what's-new-for-2017.html">What's New for 2017</a></li>
          <li><a href="2017-benefits-videos.html">2017 Benefits Videos</a></li>
          <li><a href="2017-employee-contributions.html">2017 Employee Contributions</a></li>
          <li><a href="medicostestimator17/index.htm" target="blank">2017 Medical Plan Cost Estimator</a></li>
          <li><a href="how-to-enroll.html">How to Enroll</a></li>
          <li><a href="benefits-annual-enrollment.html">Attend a Benefits Annual<br class="visible-xs"> Enrollment Information Event</a></li>
          <li><a href="faq-2017.html">Frequently Asked Questions</a></li>
        </ul>
      </li>-->
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Health &amp; Wellness</a>
        <ul class="dropdown-menu">
          <li><a href="medical-benefits.html">Medical Benefits</a></li>
          <li><a href="preventive-care.html">Preventive Care</a></li>
          <li><a href="prescription-drug-benefits.html">Prescription Drug Benefits</a></li>
          <li><a href="progyny-fertility-benefits.html">Progyny Fertility Benefits</a></li>
          <li><a href="dental-benefits.html">Dental Benefits</a></li>
          <li><a href="vision-benefits.html">Vision Benefits</a></li>
          <li><a href="2018-employee-contributions.html">Employee Contributions</a></li>
          <li><a href="expert-medical.html">Expert Medical Opinion</a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Financial Security</a>
        <ul class="dropdown-menu">
          <li><a href="401k-savings-plan.html">401(k) Savings Plan</a></li>
          <li><a href="ESPP.html">Employee Stock Purchase Plan (ESPP)</a></li>
          <li><a href="flexible-spending-accounts.html">Flexible Spending Accounts (FSAs)</a></li>
          <li><a href="group-legal-coverage.html">Group Legal Coverage</a></li>
          <li><a href="life-accident-and-disability-insurance.html">Life, Accident and Disability Insurance</a></li>
        </ul>
      </li>
      <li><a href="time-off-benefits.html">Time Off</a></li>
      <li class="dropdown"> <a href="javascript:void(0);window.location.replace('everyday-living.html')" class="dropdown-toggle" id="next-page" data-toggle="dropdown" data-hover="dropdown">Everyday Living</a>
        <ul class="dropdown-menu">
          <!-- <li><a href="adoption-assistance.html">Adoption Assistance Plan </a></li>-->
          <!--<li><a href="care.com.html">Care.com </a></li>-->
          <!--  <li><a href="child-and-elder-care-resources.html">Child and Elder Care Resources </a></li> -->
          <!-- <li><a href="everyday-living.html">Everyday Living</a></li>-->
          <li><a href="education-assistance.html">Educational Assistance Program </a></li>
          <li><a href="employee-assistance-program.html">Employee Assistance Program (EAP)</a></li>
          <li><a href="family-support.html">Family Support Programs</a></li>
          <li><a href="wellness-tools.html">Feel Your Best</a></li>
          <li><a href="giving-programs.html">Giving Programs</a></li>
          <li><a href="identity-theft-protection.html">Identity Theft Protection </a></li>
          <!--<li><a href="paypal-give.html">PayPal GIVES</a></li>-->
          <li><a href="pet-insurance.html">Pet Insurance</a></li>
          <li><a href="health-navigation-services.html">Stanford Health Navigation Services</a></li>
          <!--<li><a href="rethink-support.html">Rethink&mdash;Support for Families </a></li>-->
          <li><a href="virtual-weight-loss-management.html">Virtual Weight-Loss Management</a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Resources</a>
        <ul class="dropdown-menu">
          <li><a href="advocacy-services.html">Advocacy Services</a></li>
          <li><a href="eligibility-requirements.html">Benefits Eligibility</a></li>
          <li><a href="benefit-summary-documents.html">Benefit Summary Documents</a></li>
          <li><a href="benefits-videos.html">Benefits Videos </a></li>
          <li><a href="changing-your-benefits.html">Changing Your Benefits</a></li>
          <li><a href="pdf/2018 PayPal Benefit Contacts.pdf" target="blank">Contacts </a></li>
          <li><a href="faq-2017.html">Frequently Asked Questions</a></li>
          <li><a href="medicostestimator18/index.htm" target="blank">2018 Medical Plan Cost Estimator </a></li>
        </ul>
      </li>
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Cobra</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--<li><a href="2017-cobra-annual-enrollment.html">2017 COBRA Annual Enrollment</a></li>
          <li><a href="how-to-enroll-cobra.html">How to Enroll</a></li>-->
          <li><a href="how-to-pay-for-cobra.html">How to Pay for COBRA Coverage</a></li>
          <li><a href="cobra-premiums.html">COBRA Premiums</a></li>
          <li><a href="faq-cobra.html">Frequently Asked Questions</a></li>
        </ul>
      </li>
      <li class="visible-lg"> <a href="javascript:void(0)" class="search-toggle"><i class="fa fa-search"></i></a>
        <div id="header-search-container" class="search-box-wrapper clear">
          <div class="search-box clear">
            <form role="search" method="get" class="search-form" action="search.html">
              <label> <span class="screen-reader-text"></span>
              <input class="search-field" name="q" placeholder="Search..." value="" title="Search..." type="search" onfocus="if (this.value == this.defaultValue) this.value = ''" onblur="if (this.value == '') this.value = this.defaultValue">
              </label>
              <input class="search-submit" value="Search" type="submit">
            </form>
          </div>
        </div>
      </li>
     </ul>
   </div>
  </div>
 </div>
</header>

