<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    <div id="home-page">
      <section class="tiles">
        <div class="container">
          {{ content }}
        </div>
      </section>
    </div>



    {% include footer.html %}

  <script src="js/jquery/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/jquery/jquery.matchHeight.js"></script>
  <script src="js/event-tracking.js"></script>
  </body>

</html>